#flyoutMenu {
  width: 40vw;
  height: 100vh;
  background-color: mediumaquamarine;
  position: fixed;
  top: 60px;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;

}
 
#flyoutMenu.hide {
  transform: translate3d(-40vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
 
#flyoutMenu ul li {
  text-align: left;
  list-style: none;
  padding: 10px;
}
 
#flyoutMenu ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 600px) {
  #flyoutMenu {
    width: 80%
  }

  #flyoutMenu.hide {
    transform: translate3d(-80vw, 0, 0);
  }
}
